<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!-- 카메라 촬영 결과를 받을 임시 파일(cacheDir/record/camera) 공유용 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.record.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/record_file_paths" />
        </provider>
    </application>
</manifest>
